@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url('../public/font/Montserrat-Italic-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'NanumSquareL';
  font-weight: 100;
  src: url('../public/font/NanumSquareL.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquareB';
  font-weight: 200;
  src: url('../public/font/NanumSquare_acEB.ttf') format('truetype');
}

html,
body {
  height: 100%;

  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:__next  {
  --vh: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.menu_wrap {
  position: absolute;
  transition: all ease 3s;
  transform: translateX(500px);
}

@keyframes walk1 {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 100%;
  }
}

.walk1 {
  position: relative;
  animation-name: walk1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.menu li {
  padding-left: 15px;
  font-size: 24px;
}

/*
${
            isMobile ? 'h-[68px] w-[283px]' : 'h-[205px] w-[849px]'
          }
*/

.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: black;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: black;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: #f5e48d;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: '';
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #f5e48d;

  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label {
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}
